module.exports={
  apps : [{
    name: "kanban-server",
    cwd: "/home/ap/workspace/kanban/server",
    script: "npm",
    args: "start",
    watch: true,
    env_production: {
      NODE_ENV: "production",
    }
  }
  ]
}